@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  touch-action: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #040030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(65deg, transparent, white, transparent);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-9.9px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.foreground2 {
  transform: translateZ(0px) scale(1);
  object-position: bottom;
  bottom: -1px;
}

.background,
.foreground,
.foreground2,
.foreground3 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.foreground3 {
  transform: translateZ(-9.9px) scale(2);
  top: -47%;
  left: -35%;
  width: 30% !important;
  height: auto;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.magicAUnderline a {
  position: relative;
}

.magicAUnderline a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  opacity: 0;
  border-radius: 50%;

  background: linear-gradient(to left, white, transparent);
  filter: drop-shadow(0 -12px 12px rgb(255, 255, 255));
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.magicAUnderline a:hover::before {
  content: "";
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 2px;
}
