@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow: hidden;
}

/* body {
  margin: 0;
  touch-action: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #040030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(65deg, transparent, white, transparent);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: -webkit-fill-available;
  min-height: 100svh;
  perspective: 10px;
  -webkit-perspective: 10px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: -2;
}

.pseudoHeader {
  position: relative;
  display: flex;
  align-items: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
}

.background {
  transform: translateZ(-9.9px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.foreground2 {
  transform: translateZ(0px) scale(1);
  object-position: bottom;
  bottom: -1px;
}

.background,
.foreground,
.foreground2,
.foreground3 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.backgroundOils {
  transform: translateZ(-5px) scale(1.5);
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.backgroundOils2 {
  transform: translateZ(-20px) scale(3) translateY(50%);
  position: absolute;
  bottom: 0;
  height: 230%;
  width: 100%;
  object-fit: cover;
  z-index: -3;
}

@media (max-width: 1580px) {
  .backgroundOils {
    transform: translateZ(-5px) scale(1.5);
    height: 150%;
  }

  .backgroundOils2 {
    transform: translateZ(-50px) scale(6);
    height: 230%;
  }
}

@media (max-width: 1080px) {
  .backgroundOils {
    transform: translateZ(-5px) scale(1.5);
    height: 130%;
  }

  .backgroundOils2 {
    transform: translateZ(-8.9px) scale(2) translateY(115%);
    height: 320%;
  }
}

.foreground3 {
  transform: translateZ(-9.9px) scale(2);
  top: -47%;
  left: -35%;
  width: 30% !important;

  height: auto;
}

@media (max-width: 1080px) {
  .foreground3 {
    width: 50% !important;
  }
}

@media (max-width: 730px) {
  .foreground3 {
    width: 80% !important;
  }
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

.magicAUnderline a {
  position: relative;
}

.magicAUnderline a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  opacity: 0;
  border-radius: 50%;

  background: linear-gradient(to left, white, transparent);
  filter: drop-shadow(0 -12px 12px rgb(255, 255, 255));
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.magicAUnderline a:hover::before {
  content: "";
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 2px;
}

/* Education */

.carStationForeground {
  object-fit: cover;
  right: 0;
}

@media (max-width: 1600px) {
  .carStationForeground {
    object-fit: cover;
    object-position: top right;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 640px) {
  .carStationForeground {
    object-fit: cover;
    object-position: 78% top;
    height: 500px;
    transform: translateY(50px);
  }
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

.imgBackground {
  z-index: -1;
  position: absolute;
  top: 10px;
  left: -10px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-size: 11px 11px;
  background-image: repeating-linear-gradient(
    45deg,
    white 0,
    rgb(255, 255, 255) 2px,
    transparent 0,
    transparent 50%
  );
  border-radius: 5px;
}

/* Others */

.list-square {
  list-style-type: square;
}
